##### Author
##### Marco Desantes Gutiérrez - www.github.com/silverzero

## 1- Elastic Search - MySQL

In [14]:
#BEFORE CODING:   
#pip install elasticsearch
#pip install 
#pip install requests

import pprint
import requests
import json
import io
from elasticsearch import Elasticsearch

url_conexion = "https://elastic:lJ9Ysmfrq8Q1hHtq0bczNePI@9fee6da84ffd47d39ee3e10d9c98504b.eu-central-1.aws.cloud.es.io:9243"
es = Elasticsearch(url_conexion)
pp = pprint.PrettyPrinter(indent=4) #para mostrar los jsons "bonitos"

#PRETTY QUERY
def muestraQuery(es,index,q,maxres=10):
    res = es.search(index=index, body=q)
    print("Total Resultados: ",res["hits"]["total"]["value"], ". Máx. Score",res["hits"]["max_score"])
    hits = res['hits']["hits"]
    for i in range(min(maxres,len(hits))):
        print(i+1,".- ",)
        pp.pprint( hits[i])
        print("-"*80+"\n")


#TEST CONNECTION
if es.ping():
        print('Conectado')
else:
        print('Error de conexión!')

Conectado

## 2- INSERT DATA

In [11]:
#Download from: https://drive.google.com/file/d/1q6hinssCfg-_fcxBQD0FOkZkLOujvmDB/view?usp=sharing

file = "C:/Users/silver/Downloads/tweet.json"

i = 0
ndocs = 0
with io.open(file, encoding="utf8") as f:
    for linea in f:
        i+=1
        if linea=="{\n":
            s= ""
        s += linea
        if linea=="}\n":
            doc = json.loads(s)
            # elastic no admite el nombre de clave _id
            del doc["_id"]
            es.index(index="tweet", id=i, body=doc)
            ndocs +=1
            # los 1000 primeros
            if ndocs>1000:
                break

## 3- GETTING STARTED

to call endpoint in sql we must use that syntax in kibana dev tools console:
https://c2160ebd57b8444389e0add402e5ea67.eu-central-1.aws.cloud.es.io:9243/app/kibana#/dev_tools/console

### IMPORTANT
ELASTIC SQL DOESNT SUPPORT ARRAY FIELDS
https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-limitations.html

headers = {
   'Content-Type': 'application/json',
}

query = {
    "query": "SELECT user._id, user.screen, opinion  FROM tweet WHERE opinion = 1 ORDER BY user.screen DESC LIMIT 15"
}

### 3.1 Simple query (QUERY RESULT)
 
```python
POST /_sql
{
  "query": "SELECT user._id, user.screen, opinion  FROM tweet WHERE opinion = 1 ORDER BY user.screen DESC LIMIT 15"
}
```

In [26]:
url = url_conexion + "/_sql"
response = requests.get(url, headers=headers, data=json.dumps(query)).json()
pp.pprint(response)

{   'columns': [   {'name': 'user._id', 'type': 'text'},
                   {'name': 'user.screen', 'type': 'text'},
                   {'name': 'opinion', 'type': 'long'}],
    'rows': [   ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1],
                ['717715502190174209', 'nobarriers2016', 1]]}

### 3.2 Show like table (TABLE PREVIEW)
```javascript
POST /_sql?format=txt
{
  "query": "SELECT user._id, user.screen, opinion  FROM tweet WHERE opinion = 1 ORDER BY user.screen DESC LIMIT 15"
}
```

In [29]:
url = url_conexion + "/_sql?format=txt"
response = requests.get(url, headers=headers, data=json.dumps(query)).text
print(response)

     user._id     |  user.screen  |    opinion
------------------+---------------+---------------
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1
717715502190174209|nobarriers2016 |1

### 3.3 Translate (SQL QUERY TO NOSQL QUERY)

```python
POST /_sql/translate
{
  "query": "SELECT user._id, user.screen, opinion  FROM tweet WHERE opinion = 1 ORDER BY user.screen DESC LIMIT 15"
}
```

In [33]:
url = url_conexion + "/_sql/translate"
response = requests.get(url, headers=headers, data=json.dumps(query)).json()
pp.pprint(response)

{   '_source': {   'excludes': [],
                   'includes': ['user._id', 'user.screen', 'opinion']},
    'query': {'term': {'opinion': {'boost': 1.0, 'value': 1}}},
    'size': 15,
    'sort': [   {   'user.screen.keyword': {   'missing': '_first',
                                               'order': 'desc',
                                               'unmapped_type': 'keyword'}}]}

### 3.4 AGGREGATIONS

```python
POST /_sql
{
  "query": "SELECT user._id, user.screen, opinion  FROM tweet WHERE opinion = 1 GROUP BY user._id ORDER BY user.screen DESC LIMIT 15"
}
```

In [39]:
url = url_conexion + "/_sql?format=txt"

query = {
    "query": "SELECT user.screen, count(opinion)FROM tweet GROUP BY user.screen LIMIT 15"
}

response = requests.get(url, headers=headers, data=json.dumps(query)).text
print(response)

  user.screen  |count(opinion)
---------------+---------------
2ALAW          |86
AristeguiOnline|43
Braveheart_USA |31
DebraMessing   |69
EricTrump      |27
FacMagnaAmerica|55
JaredWyand     |36
JenGranholm    |104
JoseANunez1    |36
JosephMorgan   |1
carrieksada    |146
d_seaman       |94
heytana        |31
iansomerhalder |3
ktmcfarland    |25